@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,700&display=swap");

body {
  background-color: rgb(196, 195, 195);
  min-height: 100vh;
  width: 100vw;
  color: black;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 25px;
  padding: 10px 35px;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.nav-links {
  color: black;
}

.nav-bar img {
  width: 100px;
}

/*********Search Page***********/

.search-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.search-header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  margin-bottom: 15px;
}

.search-bar {
  width: 40%;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/************Movie Card*********/
.movie-card {
  display: flex;
  border: 1px rgb(150, 150, 150) solid;
  width: 40%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgb(218, 218, 218);
}

.movie-card img {
  width: 30%;
  border-radius: 20px 20px 20px 20px;
}

.movie-card-text {
  margin-left: 20px;
  padding: 15px;
  overflow: hidden;
  height: 90%;
}

.text-bold {
  font-weight: 700;
}

.pagination {
  display: flex;
  justify-content: center;
  height: 100px;
}

.pagination ul {
  text-align: center;
}

.pagination li {
  background-color: white;
  color: black;
  display: inline-block;
  margin: 0px 5px;
  padding: 7px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
